.leaderboard .container{
    max-width: 900px;
    margin: auto;
}

.leaderboard .daily, .leaderboard .weekly {
    padding: 15px;
    background-color: rgb(0 0 0);
    border: 3px solid orange;
    border-radius: 20px;
}

.leaderboard .weekly{
    background-color: rgb(137 137 137 / 30%);
    border: none;
    margin-top: 50px;
}

.leaderboard .board-title {
    font-family: 'Avo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    background: -webkit-linear-gradient(yellow, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.tex-effect{
    background: -webkit-linear-gradient(yellow, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leaderboard tr.trader-rank {
    color: white;
    border: none;
}

.leaderboard tr.trader-rank .trader-name:hover .td-bg, .modal .trader-list li .trader-name:hover{
    color: white;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
}

.leaderboard .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.leaderboard .avatar img{
    width: 100%;
    height: 100%;
}
.leaderboard table td{
    border-top:none ;
}
.leaderboard td.rank {
    font-size: 20px;
    font-weight: bold;
}
.leaderboard .trader-rank td{
    /*height: 48px;
    line-height: 48px;*/
    text-align: center;

}

.leaderboard .table>tbody>tr>td,
.leaderboard .table>tbody>tr>th,
.leaderboard .table>tfoot>tr>td,
.leaderboard .table>tfoot>tr>th,
.leaderboard .table>thead>tr>td,
.leaderboard .table>thead>tr>th {
    /*vertical-align: middle;*/
}

td.rank {
    vertical-align: middle;
}

.td-bg {
    width: 100%;
    /*height: 100%;*/
    background-color: rgba(137, 137, 137 , .3);
}

td.trader-name {
    width: 300px;
}

.hit-rate-title,.pnl-title {
    font-size: 10px;
}

table .trader-rank td{
    padding: 5px!important;
}

.list-rank{
    padding: 0 10px 0 0;
}

.trader-rank .trader-name .td-bg {
    height: 60px;
    line-height: 60px;
}

.trader-rank .td-bg {
    border-radius: 5px;
}

.trader-rank .hit-rate .td-bg, .trader-rank .pnl .td-bg{
    line-height: 25px;
    font-weight: bold;
    padding: 3px;
    box-sizing: border-box;
}
.trader-rank .hit-rate .hit-rate-value{
    color: orange;
}

.trader-rank .pnl .pnl-value{
    color: green;
}
.trader-rank .pnl .pnl-value.is-high{
    color: green;
}
.trader-rank .pnl .pnl-value.is-low{
    color: orangered;
}
select.filter, button.see-more,.search-trader {
    /*height: 30px;*/
    /*line-height: 30px;*/
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(92, 92, 92 , .4);
    color: #898989;
    font-weight: bold;
    margin-right: 10px;
    border: none;
}

.modal-header, .modal-body{
    border-bottom: rgba(211, 211, 211, 0.5);
}

.modal-footer{
    border-top: rgba(211, 211, 211, 0.5);
    text-align: center;
}
.search-trader:focus{
    border:1px solid rgba(255, 255, 255, 0.55);
    color: white;
}
button.see-more{
    padding: 4px 10px;
    margin-right: 0;
}

.modal .trader-list ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    height: 30em;
}

.modal .trader-list li {
    /*padding: 10px 5px;*/
    margin: 2px;
    background-color: transparent;
    width: 50%;
}

.trader-list li p {
    margin: 0;
}

.leaderboard .modal .modal-dialog {
    width: 80%!important;
    max-width: 1200px;
}

.modal-avt {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid orange;
}
.modal .trader-name {
    text-align: center;
    line-height: 3.5;
    background-color: #8989894d;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

.modal-content {
    background: black;
    border-radius: 20px;
}

.modal {
    background-color: rgba(128, 128, 128, .5);
}

.modal-header span {
    color: white;
}

p.modal-hitrate-title, p.modal-pnl-title {
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
}

p.modal-hitrate-value, p.modal-pnl-value {
    font-weight: bold;
    text-align: center;
}
p.modal-hitrate-value{
    color: orange;
}

p.modal-pnl-value.is-low{
    color: darkred;
}
p.modal-pnl-value.is-high{
    color: green;
}

.modal .modal-rank {
    height: 100%;
    line-height: 3;
    font-weight: bold;
    color: white;
}

.box-info {
    padding: 5px 5px;
    background-color: #8989894d;
    border-radius: 5px;
    color: white;
}
