<footer class="footer p-md-5">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-3 col-lg-6 mb-3">
        <img class="logo-footer ml-md-n3 img-fluid" src="../assets/logo_footer.png" alt="logo-footer" />
        <!-- <p class="copy-right">2022 Puppies.com. All rights reserved</p> -->
      </div>
      <div class="col-md-9 col-lg-6">
        <div class="row no-gutters">
          <div class="col-md-3 products">
            <p class="footer-title">Products</p>
            <p class="footer-content">Giao dịch Future</p>
            <p class="footer-content">Giao dịch Spot</p>
            <p class="footer-content">Giao dịch NFT</p>
            <p class="footer-content">DeFI</p>
            <p class="footer-content">Site map</p>
          </div>

          <div class="col-md-3 company">
            <p class="footer-title">Company</p>
            <p class="footer-content">About Us</p>
            <p class="footer-content">Điều Khoản</p>
            <p class="footer-content">Chính sách bảo mật</p>
            <p class="footer-content">Quy định cộng đồng</p>
            <p class="footer-content">Miễn trừ trách nhiệm</p>
            <p class="footer-content">Careers</p>
        </div>

          <div class="col-md-3 support">
            <p class="footer-title">Support</p>
            <p class="footer-content">Liên hệ</p>
            <p class="footer-content">FAQ</p>
          </div>

          <div class="col-md-3 social">
            <p class="footer-title">Socials</p>
            <p class="footer-content">Facebook</p>
            <p class="footer-content">Twitter</p>
            <p class="footer-content">Telegram</p>
            <p class="footer-content">Interactive Chat</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
