body{
    font-family: "Roboto",sans-serif!important;
    font-size: 100%;
    background: #000000;
    background-image: url("../../img/home/background.png");
    /* Full height */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body .container{
    max-width: 1920px;
}
nav.navbar{
    padding: 0;
}

body .menu-list li a {
    display: inline-block;
    font-family: "Avo", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
    margin-right: 25px;
    color: #fff;
}

nav.main-menu.navbar-default {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    /* text-align: center; */
    border-radius: 15px;
    margin-right: 15px;
}
nav.main-menu.navbar-default li{
    width:100%;
    padding:5px 10px;
    text-align:center;
}


.menu-list li a:hover{
    background: -webkit-linear-gradient(yellow, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-fixed{
    /*background-color: black;*/
    /*border-bottom: 1px solid rgba(169, 169, 169, 0.51);*/
}
.nav-fixed #logo img {
    height: 40px;
    width: auto;
}
.pt-120{
    padding-top: 120px;
}

.border-gradient {
    border: double 3px transparent;
    border-radius: 50%;
    background-image: linear-gradient(transparent, transparent), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.paginate {
    display: block;
    margin: auto;
}

li.page-item a {
    background-color: transparent;
    color: #5c5c5c;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

li.page-item a:hover{
    color: white;
    background-color: #8989894d;
    border-radius: 5px;
}

.user-header .header-avt {
    border-radius: 50%;
    overflow: hidden;
}

.user-header .username, .user-header .user-status{
    font-family: 'Avo', sans-serif;
}
p.user-status {
    background: orange;
    font-size: 10px;
    color: black;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 0 40px 10px 0;
    text-align: center;

}
p.username {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.user-header{
    position: relative;
}
.header__notify{
    display: none;
    position: absolute;
    width: 300px;
    right: 0;
    background-image: url("../../img/home/background.png");
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.header__navbar-item {
    font-size: 1.5rem;
    color: var(--white-color);
    background-color: var(--black-color);
    text-transform: capitalize;
    text-align: center;
    border-radius: 10px;
}

.header__notify .header__navbar-item{
    padding: 10px 15px;
    margin-bottom: 10px;
}

.header__navbar-item:hover {
    color: var(--yellow-color);
    border-bottom: 1px solid var(--yellow-color);
    cursor: pointer;

}
.header__notify li{
    list-style: none;
}

.logout {
    font-size: 1.2rem;
    margin-top: 30px;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
}

.logout:hover {
    background-color: var(--yellow-color);
    color: var(--black-color);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

p.username-header {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.avt-header {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: block!important;
}

p.role-header {
    text-align: center;
}

p.role-header span{
    padding:5px;
    background-color:orange;
    color:black;
    font-weight:bold;
    border-radius: 5px;

}

li.header__navbar-item {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 20px;
    margin-top: 20px;
    border: 1px solid;
}
li.header__navbar-item:hover{
    background-color:orange;
}

li.logout {
    text-align: center;
    color: white;
    margin-bottom:20px

}

li.logout:hover {
    color: orange;

}

li.privacy {
    color: wheat;
    font-size: 12px;
    padding-bottom: 20px;
}

button.close{
    color: white;
}

button:hover{
    background-position: right center; /* change the direction of the change here */

}

.action-btn {
    /*background-color: #FF7F00;*/
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    color: white;
    border-radius: 0.15em;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: block;
}

.action-btn:hover {
    /*background-color: #ff6600;*/
}

.action-btn:focus {
    /*outline: 0.05em dashed #ff6600;*/
    /*outline-offset: 0.05em;*/
}

.action-btn::after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
}

@keyframes button-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.action-btn.loading {
    color: transparent;
}

.action-btn.loading::after {
    opacity: 1;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: #2f2f2f ;
    z-index: 9999;
    opacity: .5;
}
button:disabled{
    background-color: grey!important;
    color: black;
    cursor: default;
}
